@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');


html, body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Gabriela', serif;
	letter-spacing: -0.5px;
}

.container {
	display: flex;
	justify-content:space-between;
	align-items: center;
	column-gap: 10px;
	row-gap: 10px;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;	
}

/* Nav */

.nav, .nav-project {
	padding: 10px 0;
	border-bottom: 2px solid #89a8a2;
	background-color: #062528; 
	color: #2b5865;
	letter-spacing: normal;
}

.nav-project {
	border-bottom: 2px solid #062528;
	background-color: #8fbdc2;
	color: #062528;
}

.nav-logo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-right: auto;
}

.nav-project__list, .nav__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 30px;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Gabriela', serif;
}

.nav__link, .nav-project__linkpr {
	color: #8fbdc2;
	transition: opacity 0.2s ease-in;
}

.nav-project__linkpr {
	color: #062528;
}

.nav__link--active {
	position: relative;
}

.nav-project__linkpr--active {
	position: relative;
}

.nav__link--active::before {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #8fbdc2;
}

.nav-project__linkpr--active::before {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #062528;
}

.nav__link:hover {
	opacity: 0.8;
}

.nav-project__linkpr:hover {
	opacity: 0.8;
}


/*menu burger*/

.burger-btn, .burger-btn-light {
	display: none;
	width: 40px;
	height: 40px;
	position: relative;
	border: none;
	z-index: 2;
	transform: translateY(-150px);
	background-color: transparent;
}

.burger-btn span {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #062528;
	left: 5px;
	transition: transform .5s, opacity .5s, background-color .5s;
}

.burger-btn-light span {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #e57601;
	left: 5px;
	transition: transform .5s, opacity .5s, background-color .5s;
}

.burger-btn span:nth-child(1) {
	transform: translateY(-10px);
	
}

.burger-btn span:nth-child(3) {
	transform: translateY(10px);
	
}

.burger-btn-light span:nth-child(1) {
	transform: translateY(-10px);
	
}

.burger-btn-light span:nth-child(3) {
	transform: translateY(10px);
	
}

.nav-project.open .burger-btn span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
	
}

.nav-project.open .burger-btn span:nth-child(2) {
	opacity: 0;
}

.nav-project.open .burger-btn span:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
	
}

.nav.open .burger-btn-light span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
	
}

.nav.open .burger-btn-light span:nth-child(2) {
	opacity: 0;
	
}

.nav.open .burger-btn-light span:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
	
}

/* index.html 'header' */

.header {
	padding: 40px 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #062528;
	color: #8fbdc2;
	text-align: center;
	
}

.header__wrapper {
	padding: 0 15px;
	/* max-width: 660px; */
}

.header__title {
	margin-bottom: 20px;
	font-family: 'Gabriela', serif;
	text-align: left;
	font-size: 70px;
	font-weight: 700;
	line-height: 1.4;
}

.header__text {
	margin-bottom: 40px;
	text-align: left;
	font-size: 24px;
	line-height: 1.333;
}

.header__text p + p {
	margin-top: 0.5em;
}

/* Projects */

.container-link {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	background-color: #8fbdc2;
}

section {
	width: 80%;
	margin: 0px auto;
	font-family: 'Gabriela', serif;
}

.swiper {
	width: 85%;
	padding: 20px 0 !important;
	font-size: 30px;
}

.swiper-slide {
	width: 200px;
	white-space: nowrap;
}

.button-prev, .button-next {
	width: 55px;
	height: 55px;
	top: calc(50% - 25px);
	position: absolute;
	z-index: 20;
	text-align: center;
	font-size: 24px;
	line-height: 55px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #6fb2b9;
}

.button-prev {
	left: 0;
}

.button-next {
	right: 0;
}

.button-prev png, .button-next png {
	width: 100%;
	height: 100%;
}

.item {
	margin: 5px 30px;
	padding: 15px 20px;
	white-space: nowrap;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	border: 0.5px solid #2b5865;
	border-radius: 10px;
	background-color: #8fbdc2;
}

.item.active {
	box-shadow: 0px 0px 10px 10px #66a7af;
} 

.iconimg {
	width: 55px;
	height: 55px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #6fb2b9;
}

.hide {
	display: none;
} 


/*карточки с тортами и ценами*/
.col-md-8 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.card {
	max-width: 100%;
	min-width: 0;
	margin: 10px;
	border: 0.5px solid #868383;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px #2b5865;
	background-color: #8fbdc2;
	object-fit: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}

.product-img {
	width: 350px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	object-fit: cover;
}

h4 {
   font-size: 1.5rem;
   font-weight: 500;
	font-family: 'Gabriela', serif;
	height: 70px;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}

.price__currency {
	color: #062528;
}

.btn {
	width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 24px;
	border-bottom: 4px solid #e57601;
	border-radius: 10px;
	background-color: #ffa700;
}


/* Payment */

.section-payment {
	padding: 70px 0;
	position: relative;
	background-color: #8fbdc2;	
}

.title-1a {
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.3;
	color: #062528;
	text-align: center;
}

/*contacts*/
.sectioncont {
	padding: 70px 0;
	position: relative;
	background-color: #062528;
}

.title-1 {
	margin-bottom: 60px;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.3;
	color:  #8fbdc2;
	text-align: center;
}


/* Footer */

.footer {
	padding: 60px 0 50px;
	background-color: #062528;
	color: rgb(155, 240, 246);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}

.social__item {
	width: 38px;
}

.copiright {
	font-size: 16px;
}

@media (max-width: 1200px) {

	.burger-btn, .burger-btn-light {
		display: block;
	}

	.nav-project__menu {
		width: 350px;
		height: 520px;
		padding: 140px 20px 20px 20px;
		position: absolute;
		left: -350px;
		top: 0;
		transition: transform .5s;
		background-image: url(../img/orangeFonBurger.jpg);
		object-fit: cover;
		background-repeat: no-repeat;
	}

	.nav-project__list, .nav__list {
		display: block;
	}

	.nav-project__item  {
		display: block;
		padding: 10px 0;
		font-size: 30px;
		color: #062528;
	}

	.nav__item {
		display: block;
		padding: 10px 0;
		font-size: 30px;
		color: #062528;
	}

	.nav-project.open .nav-project__menu {
		transform: translateX(100%);
	}

	.nav.open .nav-project__menu {
		transform: translateX(100%);
	}

	.header {
		min-height: 100vh;
	}

	.header__title {
		font-size: 30px;
	}
	
	.section {
		padding: 40px 0;
	}

	.title-1 {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.title-1a {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.footer {
		padding: 40px 0 30px;
		margin-top: 0;
	}

	img {
		max-width: 100%;
	} 
	
}



